* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	align-items: center;
	background-color: #1f1f3d;
	display: flex;
	height: 7em;
	justify-content: space-between;
	padding: 0 1%;
}

main {
	display: flex;
	height: 100vh;
}

h1 {
	color: #fff;
	font-size: 350%;
	font-weight: 800;
	text-transform: uppercase;
}

.header__h1--span {
	color: #ffc30c;
}

.header__form--search {
	align-items: center;
	display: flex;
	width: 30%;
}

input {
	border-radius: 5px solid #1f1f3d;
	font-family: inherit;
	margin: 2% 0;
	outline: none;
}

input[type="text"] {
	font-size: 150%;
}

.header__input--search {
	width: 100%;
}

.header__image--search {
	background-color: #C8D3D9;
	border-radius: 2px;
	padding: 2%;
}

nav {
	background-color: #587a8a;
	color: #C8D3D9;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 2% 1%;
	width: 40%;
}

.section__navigation--form {
	display: flex;
	flex-direction: row;
}

.icon--large {
	height: 6em;
	width: 6em;
}

.icon--small {
	height: 3em;
	width:  3em;
}

.form__image--add {
	background-color: #1f1f3d;
}

.form__button {
	background-color: #1f1f3d;
	border: 3px solid #1f1f3d;
	border-radius: 5px;
	color: #fff;
	font-size: 120%;
	font-weight: 700;
	height: 3.5em;
	margin: 2% 0;
	width: 100%;
}

.disabled {
	background-color: #C8D3D9;
	border: 2px solid #C8D3D9;
	color: #1f1f3d;
}

.form--input {
	border: 2px solid #1f1f3d;
	border-radius: 5px;
	height: 3em;
	padding-left: 0.75em;
}

aside {
	background-color: #f3f6f7;
	padding: 1%;
	width: 100%;
}

.aside__section--container {
	align-items: center;
	color: #1f1f3d;
	display: flex;
	flex-direction: column;
	height: 60%;
	justify-content: center;
}

.aside__section--p {
	font-size: 200%;
	font-weight: 600;
	justify-content: center;
}

.welcome {
	font-size: 400%;
	font-weight: 700;
}

.section__tasks--status {
	border: 2px solid;
	margin: 2% 2% 4% 2%;
	padding: 0 1%;
	width: 45%;
}

.section__section--title {
	border-bottom: 2px solid;
	padding: 1%;
}

.section__section--tasks {
	border-bottom: 2px solid;
	padding: 1% 0;
}

.section__section--status {
	display: flex;
	justify-content: space-between;
}

.section__section--left,
.section__section--right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section__section--label {
	font-size: 70%;
}

.form__section--item {
	display: flex;
	align-items: center;
}

.form__label--input {
	width: 100%;
}

.form__label--text {
	width: 90%;
}

ul {
	padding: 0 1% 2% 1%;
}

li {
	display: flex;
	font-size: 150%;
	align-items: center;
}

.li__delete {
	height: 2.5em;
	margin: 1em 1.5em; 
	outline: none;
	width: 2.5em;
}

.li--task {
	list-style: none;
	padding-left: .5%;
}

.section__section--status {
	padding: 1%;
}

.hidden {
	display: none;
}