* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	height: 100%;
}

header {
	align-items: center;
	background-color: #1f1f3d;
	display: flex;
	height: 6em;
	justify-content: space-between;
	padding: 0 1%;
}

main {
	display: flex;
	height: 100%;
	min-height: 100vh;
}

h1 {
	color: #fff;
	font-size: 275%;
	font-weight: 800;
	text-transform: uppercase;
	width: 40%;
}

.header__h1--span {
	color: #ffc30c;
}

.form--input {
	border: 2px solid #1f1f3d;
	border-radius: 4px;
	height: 3em;
	padding-left: 0.75em;
}

.header__form--search {
	align-items: center;
	display: flex;
	width: 30%;
}

input {
	font-family: inherit;
	margin: 2% 0;
	outline: none;
}

input[type="text"] {
	font-size: 100%;
}

.header__input--search {
	border-left: none;
	border-radius: 0 4px 4px 0;
	width: 100%;
}

.header__image--search {
	background-color: #C8D3D9;
	border-radius: 2px 0 0 2px;
	padding: 2%;
}

/* Navigation Menu */

nav {
	background-color: #587a8a;
	border-right: 3px solid #335b6b;
	color: #C8D3D9;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding: 2% 0;
	width: 30%;
}

.section__navigation--form {
	display: flex;
	flex-direction: row;
}

.icon--large {
	height: 4em;
	width: 4em;
}

.icon--small {
	height: 3em;
	width:  3em;
}

.form__image--add {
	background-color: #1f1f3d;
	border: 5px solid #1f1f3d;
	border-left: none;
	border-radius: 0 4px 4px 0;
	padding: 1.5%;
}

.form__button {
	background-color: #1f1f3d;
	border: 3px solid #1f1f3d;
	border-radius: 5px;
	color: #fff;
	font-size: 120%;
	font-weight: 700;
	height: 3em;
	margin: 4% 2%;
	width: 96%;
}

.form__div--line {
	background-color: #335b6b;
	height: .20em;
	margin: 10% 0;
	width: 100%;
}

.aside__section--container {
	align-items: center;
	color: #1f1f3d;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.form__section--item {
	display: flex;
	align-items: center;
	width: 100%;
}

.form__label {
	font-size: 90%;
	font-weight: 600;
	margin: 0 2%;
}

.form__label--input {
	margin: 0 2%;
	width: 96%;
}

.form__label--text {
	border-right: none;
	border-radius: 4px 0 0 4px;
	margin: 0 0 0 2%;
	width: 85%;
}

ul {
	padding: 0 1% 2% 1%;
}

li {
	display: flex;
	font-size: 100%;
	align-items: center;
}

.li__delete {
	height: 2em;
	margin: 1em 1.5em; 
	outline: none;
	width: 2em;
}

.li--task {
	list-style: none;
	padding-left: .5%;
}

.section__tasks {
	background-color: #f3f6f7;
	column-count: 2;
	column-width: 16em;
	padding: 1%;
	width: 70%;
}

.section__tasks--status {
	background-color: #fff;
	border: 2px solid #C8D3D9;
	display: inline-block;
	margin-bottom: 2%;
	padding: 0 1%;
	width: 100%;
}

.section__section--title,
.section__section--tasks {
	border-bottom: 2px solid #C8D3D9;
	padding: 1%;
}

.section__section--status {
	display: flex;
	justify-content: space-between;
	padding: 1%;
}

.section__section--left,
.section__section--right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section__section--label {
	font-size: 70%;
}

.disabled {
	background-color: #C8D3D9;
	border: 5px solid #C8D3D9;
	border-radius: 5px; 
	color: #1f1f3d;
}

.hidden {
	display: none;
}

.checked {
	color: #3c6577;
	font-style: italic;
}

.section__section--borders {
	border-bottom: 2px solid #ffc30c;
}

.section__tasks--urgent {
	background-color: #ffe89d;
	border: 2px solid #ffc30c;
}

.section__label--urgent {
	color: #b23a25;
}

.aside__section--p {
	break-inside: avoid;
	font-size: 350%;
	font-weight: 700;
	text-align: center;
	z-index: 1;
}

/* Mobile Device Modifications */

@media screen and (max-width: 980px) {

	body {
		height: 100%;
		min-height: 100vh;
	}

	h1 {
		font-size: 225%;
	}

	.form__label--text {
		width: 90%;
	}

	.form__button {
		height: 2em;
		margin: 2% 2%;
	}

	.form__div--line {
		margin: 3% 0;
	}

	.section__tasks {
		min-height: 25em;
	}

	.aside__section--p {
		font-size: 300%;
		text-align: center;
	}
}

@media screen and (max-width: 780px) {

	main {
		flex-direction: column;
	}

	header {
		flex-direction: column;
		height: 8em;
		justify-content: center;
	}

	h1 {
		font-size: 175%;
		text-align: center;
		width: 75%;
	}

	.header__form--search {
		width: 75%;
	}

	input[type="text"] {
		font-size: 80%;
	}

	.icon--large {
		height: 3.15em;
		width: 3.15em;
	}

	.header__image--search {
		padding: none;
	}

	nav {
		padding: 2% 1%;
		width: 100%;
	}	

	.form__image--add {
		padding: .75%;
	}

	.section__tasks {
		column-count: 1;
		width: 100%;
	}

	.aside__section--p {
		font-size: 200%;
		text-align: center;
	}

}