* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	align-items: center;
	background-color: #1f1f3d;
	display: flex;
	height: 5em;
	justify-content: space-between;
	padding: 0 1%;
}

main {
	display: flex;
	height: 100vh;
}

h1 {
	color: #fff;
	font-size: 250%;
	font-weight: 800;
	text-transform: uppercase;
}

.header__h1--span {
	color: #ffc30c;
}

.header__form--search {
	align-items: center;
	display: flex;
	width: 30%;
}

input {
	border-radius: 2px solid #1f1f3d;
	font-family: inherit;
}

.header__input--search {
	height: 50%;
	padding-left: 50px;
	width: 100%;
}

.header__image--search {
	background-color: #C8D3D9;
	border-radius: 2px;
	padding: 2%;
}

nav {
	background-color: #587a8a;
	color: #C8D3D9;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 2% 1%;
	width: 40%;
}

.section__navigation--form {
	display: flex;
	flex-direction: row;
}

.icon--large {
	height: 40px;
	width: 40px;
}

.icon--small {
	height: 25px;
	width:  25px;
}


.form__image--add {
	background-color: #1f1f3d;
}

.form__button {
	background-color: #1f1f3d;
	border: 3px solid #1f1f3d;
	border-radius: 5px;
	color: #fff;
	font-size: 120%;
	font-weight: 700;
	height: 3em;
	margin: 2% 0;
	width: 100%;
}

.form--input {
	border: 2px solid #1f1f3d;
	border-radius: 5px;
	height: 4em;
}

aside {
	background-color: #f3f6f7;
	padding: 1%;
	width: 100%;
}

.aside__section--container {
	align-items: center;
	color: #1f1f3d;
	display: flex;
	flex-direction: column;
	height: 60%;
	justify-content: center;
}

.aside__section--p {
	font-size: 200%;
	font-weight: 600;
	justify-content: center;
}

.welcome {
	font-size: 400%;
	font-weight: 700;
}

.section__tasks--status {
	border: 2px solid;
	padding: 0 1%;
	width: 45%;
}

.section__section--title {
	border-bottom: 2px solid;
	padding: 1%;
}

.section__section--tasks {
	border-bottom: 2px solid;
	padding: 1%;
}

.form__section--item {
	display: flex;
	align-items: center;
}

.form__label--input {
	width: 100%;
}

.form__label--text {
	width: 90%;
}

li {
	display: flex;
}

.li__delete {
	height: 15px;
	margin: 5px 10px; 
	outline: none;
	width: 15px;
}

.li--task {
	list-style: none;
}

.section__section--status {
	padding: 1%;
}

.hidden {
	display: none;
}